<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bytebase.test">
    <sql id="sometable">
        ${prefix}Table
    </sql>
    <sql id="someinclude">
        FROM
        <include refid="${include_target}"/>
    </sql>
    <select id="selectUsers" parameterType="int" resultType="hashmap">
        SELECT * FROM users;
    </select>
    <select id="selectSuccess" resultType="map">
        SELECT * FROM users
        <where>
            <if test="id != null">
                AND id = #{id}
            </if>
            <if test="name != null">
                AND name = #{name}
            </if>
        </where>
    </select>
    <insert id="insert">
        INSERT INTO users (id, name) VALUES (#{id}, #{name})
    </insert>
        <select id="select" resultType="map">
        SELECT
        *
        <include refid="someinclude">
            <property name="prefix" value="Some"/>
            <property name="include_target" value="sometable"/>
        </include>
    </select>
</mapper>